{% extends "main/base.html" %}
{% block title %}Manufacturers{% endblock %}
{% block body %}
    <h1 class="h1">Manufacturers</h1>
    {% comment %}Datatable{% endcomment %}
    <a href="{% url 'manufacturers_create' %}">Create Manufacturerr</a>
    <table id="manufacturerTable">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Slug
            </th>
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.name }}</td>
                <td>{{ site.slug }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#manufacturerTable').DataTable();
        });
    </script>

{% endblock %}