{% extends "main/base.html" %}
{% block title %}Work orders{% endblock %}
{% block body %}
    {% comment %}Datatable{% endcomment %}
    <a href="{% url 'workorders_create' %}">Create Workorder</a>
    <table id="workOrders">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Client
            </th>
            <th>
                Site
            </th>
            <th>
                Title
            </th>
            <th>
                Scope
            </th>
            <th>
                Status
            </th>
            <th>
                Created
            </th>
        </tr>
        </thead>
        <tbody>
        {% for order in workorders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.client }}</td>
                <td>{{ order.site }}</td>
                <td>{{ order.title }}</td>
                <td>{{ order.scope }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.created }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#workOrders').DataTable();
        });
    </script>

{% endblock %}